{# Stack information variables -#}
{% set StackPIDs = __device.platformId | split(",")  %}
{% set StackMemberCount =  StackPIDs | length  -%}
{% set PortTotal = [] %}
{% for Switch in range(StackMemberCount) -%}
  {% set Model = StackPIDs[Switch] -%}
  {% if '48' in Model -%}
    {% set PortTotal = PortTotal.append(48) -%}
  {% elif '24' in Model %}
    {% set PortTotal = PortTotal.append(24) -%}  
  {% endif -%}
{% endfor -%}
!
!{#-  VLANs per IDF -#}
{%- set data_vlan_number = 200 + MDF -%}
{%- set voice_vlan_number = 300 + MDF -%}
{%- set ap_vlan_number = 400 + MDF -%}
{%- set guest_vlan_number = 500 + MDF -%}
{%- set bh_vlan_number = 999 %}

vlan {{ data_vlan_number }} 
name data
vlan {{ voice_vlan_number }} 
name voice
vlan {{ ap_vlan_number }} 
name accesspoint
vlan {{ guest_vlan_number }} 
name guest
vlan {{ bh_vlan_number }} 
name disabled
!
device-tracking upgrade-cli force
!
device-tracking policy IPDT_MAX_10
 limit address-count 10
 no protocol udp
 tracking enable
!
!{#- Macros -#}
{#- Use Bind to Source variable to select access interfaces -#}
{%- macro access_interface()  %}
  description Workstation
  switchport access vlan {{ data_vlan_number }}
  switchport mode access
  switchport voice vlan {{ voice_vlan_number }}
  switchport port-security maximum 3
  switchport port-security
  spanning-tree portfast
  spanning-tree bpduguard enable
{%- endmacro -%}

{%- macro uplink_interface()  -%}
   switchport trunk allowed vlan add {{ data_vlan_number }},{{ voice_vlan_number }},{{ ap_vlan_number }},{{ guest_vlan_number }},{{ bh_vlan_number }} 
{%- endmacro -%}

!{#- Access Port Configuration -#}
{% for Switch in range(StackMemberCount) -%}
{%- set SwiNum = Switch + 1 -%}
interface range gi{{ SwiNum }}/0/1 - 9, gi{{ SwiNum }}/0/12 - {{ PortTotal[Switch] }}
{{ access_interface() }}
{% endfor -%}

!{#- Uplink Port Configuration -#}
interface port-channel 1
{{ uplink_interface() }}
