!Switch Interfaces and Uplinks
!
!MACROS and CONFIG for Physical Uplinks
#macro(uplink_interface_portchannel)
 description CORE lan uplink 
 switchport mode trunk
 switchport trunk allowed vlan 1,20,30
 channel-group 101 mode on
 no macro auto processing
#end
#macro(uplink_portchannel)
 description CORE lan uplink
 switchport mode trunk
 switchport trunk allowed vlan 1,20,30  
#end
#macro(uplink_interface)
 description CORE lan uplink 
 switchport mode trunk
 switchport trunk allowed vlan 1,20,30
 no macro auto processing
#end
!
#if( $platform_id.toString().contains("C9300-24") )
!
int te 1/1/8
 shut
!
int ra te 1/1/7-8
 #uplink_interface_portchannel
!
int po 101
 #uplink_portchannel
!
#elseif( $platform_id.toString().contains("C9300-48") )
!
int te 1/1/8
 #uplink_interface
!
#else
!
int gi 1/1/4
 #uplink_interface
!
#end
!
!MACROS and CONFIG for Switch Port Interfaces
#macro(access_interface)
 description CISCO PHONE + DATA lan PORT 
 switchport access vlan 30
 switchport mode access
 switchport block unicast
 switchport voice vlan 30
 switchport port-security maximum 3
 switchport port-security maximum 2 vlan access
 switchport port-security violation restrict
 switchport port-security aging time 1
 switchport port-security aging type inactivity
 switchport port-security
 device-tracking attach-policy IPDT_MAX_10
 load-interval 30
 storm-control broadcast level pps 1k
 storm-control multicast level pps 2k
 storm-control action trap
 spanning-tree portfast
 spanning-tree bpduguard enable
 ip dhcp snooping limit rate 15
#end
#macro(access_point_interface)
 description ACCESS POINT lan PORT
 switchport access vlan 20
 switchport mode access
 switchport nonegotiate
 device-tracking attach-policy IPDT_MAX_10
 speed 1000
 duplex full
 spanning-tree portfast
#end
!
#if( $platform_id.toString().contains("24") )
interface range GigabitEthernet1/0/1-12
 #access_point_interface
!
interface range GigabitEthernet1/0/13-24
 #access_interface
!
#else
interface range GigabitEthernet1/0/1-12
 #access_point_interface
!
interface range GigabitEthernet1/0/13-48
 #access_interface
#end
!
