# Repo Traffic


### Repo Page Views
```mermaid
xychart-beta
    title "Views"
    x-axis [{{xaxis | join(',')}}]
    y-axis "Count"
    line [{{views | join(',')}}]
    %%{init: {
        'theme':'forest', 
        'xyChart': {'width':'2000'}
        }}%%
```

### Repo Unique Visitors
```mermaid
xychart-beta
    title "Vistors"
    x-axis [{{xaxis | join(',')}}]
    y-axis "Count"
    line [{{unique | join(',')}}]
    %%{init: {
        'theme':'forest', 
        'xyChart': {'width':'2000'}
        }}%%
```
