{#- System Management for Cat9k Only -#}
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec show-timezone
service password-encryption
service sequence-numbers
!
ip subnet-zero
ip dhcp snooping
!
lldp run
!
port-channel load-balance src-dst-ip
!
spanning-tree mode rapid-pvst
spanning-tree portfast default
spanning-tree portfast bpduguard default
!
errdisable recovery cause all
errdisable recovery interval 30
!
ip tftp blocksize 8184
!
udld enable
!
logging buffered 64000 debug
no logging console
logging trap notifications
!
snmp-server contact Network Campus
snmp-server location {{ location }}
!
line con 0
 exec-timeout 15 0
 login authentication admin
 logging synchronous
 authorization exec admin
line vty 0 15
 access-class 12 in
 exec-timeout 15 0
 login authentication admin
 logging synchronous
 authorization exec admin
 transport input ssh
