no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec show-timezone
service password-encryption
service sequence-numbers
no platform punt-keepalive disable-kernel-core
!
hostname $hostname
!
banner login ^
  Session On $hostname Is Monitored!!!
  *****************************LEGAL WARNING************************************
  * This device is part of a Demonstration computer network and is provided for*
  * official use by authorized users ONLY. Any information, documents, or      *
  * materials in the network are the property of this firm. Unauthorized use,  *
  * duplication, or disclosure of information or systems in this network is    *
  * strictly prohibited by Federal Law (18 USC 10130). Use of this network     *
  * constitutes consent to monitoring which may be released to firm management *
  * and/or law enforcement agencies and may result in disciplinary action,     *
  * civil action, and/or criminal prosecution.                                 *
  ****************************LEGAL WARNING*************************************
^
!
!IP Connectivity
!
!vlan dot1q tag native 
!
vtp mode transparent
vtp domain xxxxx.com
!
vlan 1
!
vlan 20
 name wirelessap
!
vlan 30
 name wireddata
!
int lo 0
  desc mgmt address
  ip address 10.0.0.$Switch 255.255.255.255
!
int vlan 1
  desc mgmt vlan - with pnp
  ip address 10.1.1.$Switch 255.255.255.0
!
ip routing
!
int lo 0
  ip router isis
!
int vlan 1
  ip router isis
  isis priority 0
!
router isis
 net 49.0000.0010.0000.$Switch.00
 is-type level-2-only
 router-id Loopback0
 domain-password Cisco123
 metric-style transition
 no hello padding point-to-point
 log-adjacency-changes
 passive-interface default
 no passive-interface vlan1
 no passive-interface Loopback0
!
!MACROS for Physical Uplinks
#macro(uplink_interface_portchannel)
 description CORE lan uplink 
 switchport mode trunk
 switchport trunk allowed vlan 1,20,30
 channel-group 101 mode on
 no macro auto processing
#end
#macro(uplink_portchannel)
 description CORE lan uplink
 switchport mode trunk
 switchport trunk allowed vlan 1,20,30  
#end
#macro(uplink_interface)
 description CORE lan uplink 
 switchport mode trunk
 switchport trunk allowed vlan 1,20,30
 no macro auto processing
#end
!
#if( $platform_id.toString().contains("C9300-24") )
!
int te 1/1/8
 shut
!
int ra te 1/1/7-8
 #uplink_interface_portchannel
!
int po 101
 #uplink_portchannel
!
#elseif( $platform_id.toString().contains("C9300-48") )
!
int te 1/1/8
 #uplink_interface
!
#else
!
int gi 1/1/4
 #uplink_interface
!
#end
!
!SSH Connectivity
!
aaa new-model
!
aaa authentication login SSH-CLI local
aaa authorization console
aaa authorization exec SSH-CLI local
aaa authentication login CON-LAB local-case
aaa authorization exec CON-LAB local 
!
ip ssh time-out 60
ip ssh authentication-retries 2
ip ssh source-interface Lo 0
ip ssh version 2
!
line con 0
 exec-timeout 0 0
 logging synchronous
 authorization exec CON-LAB
 stopbits 1
 login authentication CON-LAB
!
line vty 0 15
 exec-timeout 0 0
 authorization exec SSH-CLI
 logging synchronous
 login authentication SSH-CLI
 terminal-type mon
 length 0
 transport input ssh
!
!TIME DNS and OTHER SERVICES
clock timezone EST -5 0
clock summer-time EDT recurring
!
ntp authentication-key 10 md5 096C4C080A00451A1A2C0A3E3B04 7
ntp authenticate
ntp trusted-key 10
ntp source Lo 0
ntp server 10.10.0.250 prefer
no ntp server 34.202.215.187
!
ip name-server 10.10.0.250
ip domain lookup source-interface Lo 0 
ip domain name base2hq.com
!
ip dhcp snooping
!
location civic-location identifier 1
 country US
 postal-code 55555
 state Indiana
 street-group "Whitney Houston"
 number 55555
!
!IP STABILITY SERVICES
udld enable
!
device-tracking tracking
!
device-tracking policy IPDT_MAX_10
 limit address-count 10
 no protocol udp
 tracking enable
!
port-channel load-balance src-dst-ip
!
spanning-tree mode rapid-pvst
spanning-tree portfast default
spanning-tree portfast bpduguard default
spanning-tree extend system-id
!
dot1x system-auth-control
errdisable recovery cause all
errdisable recovery interval 30
!
lldp run
!
!SUPPORTING SERVICES
ip forward-protocol nd
ip http server
ip http authentication local
no ip http secure-server
ip http client source-interface Lo 0 
ip ftp username cisco
ip ftp password 7 02050D4808095E731F
ip ftp source-interface Lo 0
!
ip radius source-interface Lo 0 
!
!snmp-server user AdminV3SNMP V3GROUP v3 auth sha @ciscocisco@ priv aes 128 @ciscocisco@
!
snmp-server engineID local 10000000$Switch
snmp-server trap-source Lo 0
snmp-server location xxxxx
snmp-server contact xxxxxxx@cisco.com
snmp-server enable traps
snmp mib community-map private engineid 10000000$Switch
snmp mib community-map public engineid 10000000$Switch
!snmp-server group V3GROUP v3 auth read V3READ write V3WRITE access DEVICE-MGMT-ONLY 
!snmp-server group AdminV3SNMP v3 auth access DEVICE-MGMT-ONLY
!snmp-server view V3READ iso included
!snmp-server view V3WRITE iso included
!snmp-server host 10.10.0.20 version 2c public 
!snmp-server host 10.10.0.21 version 2c public 
snmp-server host 10.10.0.200 version 2c public 
snmp-server host 10.20.0.200 version 2c public 
!snmp-server host 10.10.0.20 version 3 auth AdminV3SNMP 
!snmp-server host 10.10.0.21 version 3 auth AdminV3SNMP
!snmp-server host 10.10.0.200 version 3 auth AdminV3SNMP 
!snmp-server host 10.20.0.200 version 3 auth AdminV3SNMP 
!
logging origin-id ip
logging source-interface Lo 0
logging host 10.10.0.200 transport udp port 20514
logging host 10.20.0.200 transport udp port 20514
!logging host 10.10.0.20
!
logging buffered 16384 informational
no logging console
logging monitor informational
!

!ACCESS-LISTS
ip access-list standard DEVICE-MGMT-ONLY
 permit 10.10.0.20
 permit 10.10.0.21
 permit 10.10.0.250
 permit 10.10.0.200
 permit 10.20.0.200
ip access-list extended ACL-ALLOW
 permit ip any any
ip access-list extended ACL-DEFAULT
 permit udp any any eq ntp
 permit udp any eq bootpc any eq bootps
 permit udp any any eq domain
 permit icmp any any
 permit udp any any eq tftp
 permit tcp any any eq www
 permit tcp any any eq 443
 permit tcp any host 10.10.0.200 eq 8443
 permit tcp any host 10.20.0.200 eq 8443
 permit udp any host 10.10.0.10 range 5246 5247
 deny   ip any any log
ip access-list extended ACL-POSTURE-REDIRECT
 deny   udp any any eq domain
 deny   udp any host 10.10.0.200 eq 8905
 deny   udp any host 10.10.0.200 eq 8906
 deny   tcp any host 10.10.0.200 eq 8443
 deny   tcp any host 10.10.0.200 eq 8905
 deny   tcp any host 10.10.0.200 eq www
 deny   udp any host 10.20.0.200 eq 8905
 deny   udp any host 10.20.0.200 eq 8906
 deny   tcp any host 10.20.0.200 eq 8443
 deny   tcp any host 10.20.0.200 eq 8905
 deny   tcp any host 10.20.0.200 eq www
 permit ip any any
ip access-list extended ACL-WEBAUTH-REDIRECT
 deny   udp any any eq domain
 deny   ip any host 10.10.0.200
 deny   ip any host 10.20.0.200
 permit ip any any
!
ip sla enable reaction-alerts
!
!MACROS and CONFIG for Switch Port Interfaces
#macro(access_interface)
 description CISCO PHONE + DATA lan PORT 
 switchport access vlan 30
 switchport mode access
 switchport block unicast
 switchport voice vlan 30
 switchport port-security maximum 3
 switchport port-security maximum 2 vlan access
 switchport port-security violation restrict
 switchport port-security aging time 1
 switchport port-security aging type inactivity
 switchport port-security
 device-tracking attach-policy IPDT_MAX_10
 load-interval 30
 storm-control broadcast level pps 1k
 storm-control multicast level pps 2k
 storm-control action trap
 spanning-tree portfast
 spanning-tree bpduguard enable
 ip dhcp snooping limit rate 15
#end
#macro(access_point_interface)
 description ACCESS POINT lan PORT
 switchport access vlan 20
 switchport mode access
 switchport nonegotiate
 device-tracking attach-policy IPDT_MAX_10
 speed 1000
 duplex full
 spanning-tree portfast
#end
!
#if( $platform_id.toString().contains("24") )
interface range GigabitEthernet1/0/1-10
 #access_point_interface
!
interface range GigabitEthernet1/0/13-24
 #access_interface
!
#else
interface range GigabitEthernet1/0/1-10
 #access_point_interface
!
interface range GigabitEthernet1/0/25-48
 #access_interface
#end
!
