!Global Switch Services
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec show-timezone
service password-encryption
service sequence-numbers
no platform punt-keepalive disable-kernel-core
!
!vlan dot1q tag native 
!
vtp mode transparent
vtp domain xxxxx.com
!
vlan 1
!
vlan 20
 name wirelessap
!
vlan 30
 name wireddata
!
!IP STABILITY SERVICES
udld enable
!
device-tracking tracking
!
device-tracking policy IPDT_MAX_10
 limit address-count 10
 no protocol udp
 tracking enable
!
port-channel load-balance src-dst-ip
!
spanning-tree mode rapid-pvst
spanning-tree portfast default
spanning-tree portfast bpduguard default
spanning-tree extend system-id
!
errdisable recovery cause all
errdisable recovery interval 30
!
lldp run
!
!SUPPORTING SERVICES
ip http server
ip http authentication local
no ip http secure-server
ip http client source-interface Lo 0 
ip ftp username cisco
ip ftp password 7 02050D4808095E731F
ip ftp source-interface Lo 0
!
