{#- 9300 Stack Power and Priority -#}

{% set StackCount = __device.serialNumber | split(",")  %}
{% set StackMemberCount =  StackCount | length  -%}
{% set StackMemberCountOffset = StackMemberCount + 1 %}

{% if StackMemberCount > 1 %}
  stack-power stack Powerstack1
  mode redundant strict
  {% if StackMemberCount > 4 %}
    stack Powerstack2
    mode redundant strict
  {% endif %}
  
  {% for Switch in range(1, StackMemberCountOffset) %}
    {% if Switch < 5 %}
      stack-power switch {{ Switch }}
      stack Powerstack1
    {% elif Switch > 4 %}
      stack-power switch {{ Switch }}
      stack Powerstack2
    {% endif %}
  {% endfor %}
{% endif %}

#MODE_ENABLE
    
    {% for Switch in range(1, StackMemberCountOffset) %}
      {% if Switch == 1 %}
        switch {{ Switch }} priority 10
      {% elif Switch == 2 %}
        switch {{ Switch }} priority 9
      {% else %}
        switch {{ Switch }} priority 8
      {% endif %}
    {% endfor %}
#MODE_END_ENABLE
