{#- Be Careful of using special characters that might create unexpected behaviors -#}
{#- using a $ is ok in Jinja Templates, but watch out for {} -#}
username demouser1 secret C1sco12345
username demouser2 secret C1sco12345