{#- 9300 Stack Power and Priority -#}

{% if StackMemberCount > 1 %}
   stack-power stack Powerstack1
   mode redundant strict
   {% if StackMemberCount > 4 %}
      stack-power stack Powerstack2
      mode redundant strict
   {% endif %}
   {% for Switch in range(0,StackMemberCount,1) %}
      {% if loop.index <= (StackMemberCount/2|round('ceil')) %}
         stack-power switch {{ loop.index }}
         stack Powerstack1
      {% elif loop.index > (StackMemberCount/2|round('ceil')) %}
         stack-power switch {{ loop.index }}
         stack Powerstack2
      {% endif %}
      {{ loop.index }}
   {% endfor %}
   #MODE_ENABLE
   #MODE_END_ENABLE
   #MODE_ENABLE
   {% for Switch in range(0,StackMemberCount,1) %}
      {% if loop.index == 1 %}
         switch {{ loop.index }} priority 10
      {% elif Switch == 2 %}
         switch {{ loop.index }} priority 9
      {% else %}
         switch {{ loop.index }} priority 8
      {% endif %}
   {% endfor %}
   #MODE_END_ENABLE
{% endif %}